.g-wrapper{
   width: 100%;
   height: 250px;
}
.g-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    text-align: center;
    height: 100%;
    background-color: rgba(26, 26, 155, 0.61);
    border-radius: 15px;
    border: 6px solid rgb(76, 76, 179);
}
.text1{
    margin-top: 45px;
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: white;
}
.text2{
    color: rgba(220, 220, 220, 0.384);
}
.ge-btn{
    margin-top: 20px;
    
}
button>a{
    text-decoration: none;color: white;}
.ge-btn >button{
    background-color: blue;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.ge-btn >button:hover{
   transform: scale(1.2);
}