.hero-wrapper {
   color: rgb(24, 12, 12);
   position: relative;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 100vh;
   background-color: rgb(131, 120, 104);
   margin-top: -80px;
  
}
.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    
}
.rub {
    width: 500px;
}

.hero-left {
  padding-right: 10rem;
}
.hero-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-family: sans-serif;
    
}
.title{
    font-size: 30px;
    font-family: 800;
    color: white;
}
.stats{
    display: flex;
    gap: 15px;
}
.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stat>:nth-child(1)
{
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: orange;
}
.flexhero-des{
    margin-bottom: 30px;
    font-size: 15px;
    color: gray;
    
}
.search-bar {
  background-color: white;
  border-radius: 5px;
  border: 3px solid rgba(120, 120, 120, 0.374);
  padding: 0.5rem 1rem;
  width: 60%;
  justify-content: space-between;
  margin-bottom: 20px;
}
.search-bar > input {
  border: none;
  outline: none;
}
.img-container {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(12, 7, 7, 0.12);
}
.flexhero-des{
    color: white;
}
.spa{
    color: rgb(240, 240, 240);
}