.c-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    height: 150px;
    /* background-color:rgb(90, 74, 74); */
    
}
.c-container>img{
    width: 9rem;
}
