
.C-wrapper{
   font-family: sans-serif;
    width: 100%;
    height: 100vh; 
}
.b-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
.c-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.c-box{
    display: flex;
    gap: 50px;
}
.box{
    border: none;
    width: 270px;
    height: 150px;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;;
    transition: all 0.4s ease-in-out;
    position: relative;
    cursor: pointer;
}
.box:hover{
    box-shadow: rgb(109, 162, 219) 0px 20px 30px -10px;
    transform: translateY(-5px) scale(1.08);
}
.c-detail{
    display: flex;
    gap: 20px;
    padding: 15px;
}
.c-btn{
    display: flex;
    margin: auto;
    margin-top: 20px;border-radius: 5px;
}
button{
    padding: 9px 55px;
    border: none;
    color: rgb(37, 1, 245);
    background-color: rgba(162, 162, 201, 0.171);
    transition: all 0.2s ease-in-out;
    font-weight: 700;
}
.box >button:hover{
    padding: 7px 45px;
    background-color: blue;
    color: white;
}
.tx1{
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
}
.tx2{
    color: gray;
}
.tt1{
    font-weight: 700;
    color: rgb(199, 175, 19);
    font-family: "Georgia", serif;
}
.tt2{
    font-weight: 900;
}
.tt3{
    color: gray;
}
